services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: smart_loadshedding
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"

  ui:
    build:
      context: .
      dockerfile: docker/ui.Dockerfile
    env_file:
      - .env
    depends_on:
      - api
    ports:
      - "8501:8501"

volumes:
  postgres_data:
